[Unit]
Description=Hadouken bot

[Service]
Type=notify
WorkingDirectory=/srv/hadouken
ExecStart=/srv/hadouken/Hadouken
SyslogIdentifier=Hadouken
User=adamstirtan
Restart=always           
RestartSec=5

[Install]
WantedBy=multi-user.target